body {
    font-family: "Helvetica Neue";
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

select:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

p {
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
    color: #ffffff;
}

button {
    width: 130px;
    height: 30px;
    background-color: #ffffff;
    border: 0px solid;
    font-size: 15px;
    font-size: 15px;
    border-radius: 4px;
    color: #ffffff;
}

input {
    width: 70px;
    height: 20px;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #062a4a;
    border-radius: 4px;
    background-color: #ffffff;
    text-align: center;
    font-size: 12px;
    color: #3b3b3b
}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

/*BUTTONS*/

.topBtn {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #2c3455;
    margin-right: auto;
    margin-left: auto;

}

.buttomBtn {
    text-align: center;
    padding-top: 10px
}

.newGame {
    background-color: #2e984f;
}

.newGame:hover {
    background-color: #247a3f;
}

.reset {
    background-color: #edb12a;
}

.reset:hover {
    background-color: #ce9a25;

}

.reset:active {
    background-color: #c39221;
}

.newGame:active {
    background-color: #1e6333;
}

.add {
    width: 50px;
    background-color: #268ae0;
}

.add:hover {
    background-color: #217ac5;
}

.add:active {
    background-color: #1d6cae;
}

.start {
    border-color: #e0077c;
    background-color: #e0077c;
}
#diceBtn{
    margin-bottom: 40px;
}

.start:hover {
    background-color: #be0669;
}

.start:active {
    background-color: #980554;
}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

#selectBox {
    background-color: #3b4368;
    color: #ffffff;
    width: 155px;
    height: 30px;
    border: 0;
    font-size: 12px;
}

.gameSetupBar {
    background-color: #1d243e;
    box-shadow: 5px 5px 20px #1f1f1f;
    width: 570px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;

}

.middle {
    margin-top: 200px;

}

.top {
    margin-top: 10px;
}

.fade {
    position: relative;
    display: none;
}

.visible {
    display: block;
}

#palyerBox {
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}

.inputField {
    display: flex;
    padding: 8px;
    border-bottom: 1px solid #2c3455;

}

.playerTitle {
    font-size: 12px;
}

.topSelect {
    width: 150px;
    display: flex;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.demo {
    right: 10px;
    margin-left: auto;
    padding: 3px;
    padding-left: 9px;
    padding-right: 7px;
    font-weight: 200;
    color: #ffffff;
    background-color: #268ae0;
    border-radius: 20px;
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

/*Animations*/

.moveTop {
    position: relative;
    background-color: #1d243e;
    box-shadow: 5px 5px 20px #1f1f1f;
    margin-top: 100px;
    width: 570px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    animation: flowToTop 0.5s;
}

div.moveTop {
    display: block;
}

@keyframes flowToTop {
    0% {
        top: 100px;
    }
    100% {
        top: -90px;
    }
}

.moveMiddle {
    position: relative;
    background-color: #1d243e;
    box-shadow: 5px 5px 20px #1f1f1f;
    margin-top: 100px;
    width: 570px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    animation: flowToMiddle 0.5s;

}

div.moveMiddle {
    display: block;
}

@keyframes flowToMiddle {
    0% {
        top: -90px;
    }
    100% {
        top: 100px;
    }
}
#mDemo2{
    color: #ffffff;
    font-weight: 300;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}
#DiceDemo2{
    color: #ffffff;
    font-weight: 600;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* ------------------------------------------------------- */
#mDemo3{
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.movingDemo{
    text-align: center;
    position: fixed;
    right :15px;
    width: 150px;
    height: 165px;
    border-radius: 5px;
    background-color: #1d243e; 
    box-shadow: 5px 5px 20px #1f1f1f;
}
.downPo{
    top: 105%;
}
.middlePo{
    top: 40%;
}


.downToMiddle{
    animation: slideToMiddle 0.3s;
}
.middleToTop{
    animation: slideToTop 0.3s;
}

@keyframes slideToMiddle {
    0% {
        top: 100%;
    }
    100% {
        top: 40%;
    }
}

@keyframes slideToTop {
    0% {
        top: 40%;
    }
    100% {
        top: -20%;
    }
}

/*-------------------------------------------------------*/
.redBox{
    background-color: #ce5991;
}
.blueBox{
    background-color: #2799c1;
}
.greenBox{
    background-color: #2a8749;
}
.yellowBox{
    background-color: #fcbb38;
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

/*Dom Elements*/

.tableBoard {
    width: 740px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 5px;
    background-color: #1d243e;
    box-shadow: 5px 5px 20px #1f1f1f;
}

td {
    text-align: center;
    width: 70px;
    height: 60px;
    background-color: #f2f2f2;
    border-radius: 6px;
    border: 4px solid #d9d9d9;
}

.roomNumber {
    z-index: 900;
    color: #aeacac;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 25px;
    font-weight: 300;
}

.snakeHead {

    background-color: #bf3c65;
}

.snakeTail {
    background-color: #bc6d88;
}

.topLadder {
    background-color: #2b9e64;
}

.bottomLadder {
    background-color: #18613c;
}

.destination {
    z-index: 900;
    font-weight: 300;
}

.blueChips {
    z-index: 1000;
    background-image: url(../Content/BlueChips.svg);
    background-repeat: no-repeat;
}

.redChips {
    z-index: 1000;
    background-image: url(../Content/RedChips.svg);
    background-repeat: no-repeat;
}

.yellowChips {
    z-index: 1000;
    background-image: url(../Content/YellowChips.svg);
    background-repeat: no-repeat;
}

.greenChips {
    z-index: 1000;
    background-image: url(../Content/GreenCips.svg);
    background-repeat: no-repeat;

}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.controller {
    z-index: 100;
    width: 150px;
    height: 450px;
    left: 10px;
    padding-top: 20px;
    position: fixed;
    background-color: #1d243e;
    box-shadow: 5px 5px 20px #1f1f1f;
    border-radius: 5px;
    text-align: center;
    top: 25%;
}

#nameDemo {
    margin-bottom: 20px;

}

.chipsRoom {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 80px;
    height: 80px;

}

img {
    height: 75px;
}
